@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --padding-small2: 8px;
  --padding-small: 16px;
  --padding-normal: 32px;
  --padding-large: 64px;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 1rem;
}

footer {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 1rem auto 1rem;
}

.layout {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 4rem auto 4rem;
}

.block-normal {
  padding-top   : var(--padding-normal);
  padding-bottom: var(--padding-normal);
}
